<div class="container d-flex flex-column justify-content-center align-items-center gap-2 animate__animated animate__fadeInLeft" style="height: 90vh;">
  <h1 class="title mt-2"> {{(isEdit ? 'Editar'  : 'Crear')}} Usuario </h1>

  <form class="col-10 d-flex flex-column gap-2" [formGroup]="userForm" (ngSubmit)="save()">
    <div class="d-flex gap-5">
      <div class="col-6">
        <div class="mb-2">
          <label [ngClass]="{ 'label-invalid':
          userForm.controls['fecha_ingreso'].invalid &&
          userForm.controls['fecha_ingreso'].touched &&
          userForm.controls['fecha_ingreso'].errors}">Fecha de ingreso </label>

          <input type="date" class="form-control" formControlName="fecha_ingreso" style="width: 60%;" [ngClass]="{ 'invalid':
          userForm.controls['fecha_ingreso'].invalid &&
          userForm.controls['fecha_ingreso'].touched &&
          userForm.controls['fecha_ingreso'].errors}">
        </div>

        <div class="mb-2">
          <label [ngClass]="{ 'label-invalid':
          userForm.controls['numero_control'].invalid &&
          userForm.controls['numero_control'].touched &&
          userForm.controls['numero_control'].errors}">Numero de control</label>

          <input type="number" class="form-control" formControlName="numero_control" [ngClass]="{ 'invalid':
    userForm.controls['numero_control'].invalid &&
    userForm.controls['numero_control'].touched &&
    userForm.controls['numero_control'].errors}">
        </div>

        <div class="mb-2">
          <label [ngClass]="{ 'label-invalid':
          userForm.controls['nombre_contratante'].invalid &&
          userForm.controls['nombre_contratante'].touched &&
          userForm.controls['nombre_contratante'].errors}">Nombre del contratante </label>

          <input type="text" class="form-control"  formControlName="nombre_contratante" [ngClass]="{ 'invalid':
          userForm.controls['nombre_contratante'].invalid &&
          userForm.controls['nombre_contratante'].touched &&
          userForm.controls['nombre_contratante'].errors}">
        </div>


        <div class="mb-2">
          <label [ngClass]="{ 'label-invalid':
          userForm.controls['cedula_contratante'].invalid &&
          userForm.controls['cedula_contratante'].touched &&
          userForm.controls['cedula_contratante'].errors}">Cedula del contratante </label>

        <input type="text" class="form-control" formControlName="cedula_contratante" [ngClass]="{ 'invalid':
        userForm.controls['cedula_contratante'].invalid &&
        userForm.controls['cedula_contratante'].touched &&
        userForm.controls['cedula_contratante'].errors}">
      </div>

      <div class="mb-2">

        <label [ngClass]="{ 'label-invalid':
        userForm.controls['telefono_contratante'].invalid &&
        userForm.controls['telefono_contratante'].touched &&
        userForm.controls['telefono_contratante'].errors}">Telefono del contratante </label>

        <input type="text" class="form-control" formControlName="telefono_contratante" [ngClass]="{ 'invalid':
        userForm.controls['telefono_contratante'].invalid &&
        userForm.controls['telefono_contratante'].touched &&
        userForm.controls['telefono_contratante'].errors}">
      </div>


      <div class="mb-2">


        <label [ngClass]="{ 'label-invalid':
        userForm.controls['direccion_contratante'].invalid &&
        userForm.controls['direccion_contratante'].touched &&
        userForm.controls['direccion_contratante'].errors}">Dirección del contratante</label>

        <input type="text" class="form-control" formControlName="direccion_contratante" [ngClass]="{ 'invalid':
        userForm.controls['direccion_contratante'].invalid &&
        userForm.controls['direccion_contratante'].touched &&
        userForm.controls['direccion_contratante'].errors}">

      </div>
      </div>

      <div class="col-6">

        <div class="mb-2">
          <label [ngClass]="{ 'label-invalid':
          userForm.controls['fecha_vencimiento'].invalid &&
          userForm.controls['fecha_vencimiento'].touched &&
          userForm.controls['fecha_vencimiento'].errors}">Fecha de vencimiento </label>

          <input type="date" class="form-control"  formControlName="fecha_vencimiento" style="width: 60%;" [ngClass]="{ 'invalid':
          userForm.controls['fecha_vencimiento'].invalid &&
          userForm.controls['fecha_vencimiento'].touched &&
          userForm.controls['fecha_vencimiento'].errors}">
        </div>

        <div class="mb-2">

          <label [ngClass]="{ 'label-invalid':
          userForm.controls['numero_factura'].invalid &&
          userForm.controls['numero_factura'].touched &&
          userForm.controls['numero_factura'].errors}">Numero de factura</label>


          <input type="number" class="form-control" formControlName="numero_factura" [ngClass]="{ 'invalid':
    userForm.controls['numero_factura'].invalid &&
    userForm.controls['numero_factura'].touched &&
    userForm.controls['numero_factura'].errors}">
        </div>

        <div class="mb-2">
          <label [ngClass]="{ 'label-invalid':
          userForm.controls['nombre_beneficiario'].invalid &&
          userForm.controls['nombre_beneficiario'].touched &&
          userForm.controls['nombre_beneficiario'].errors}">Nombre del beneficiario</label>

          <input type="text" class="form-control" formControlName="nombre_beneficiario" [ngClass]="{ 'invalid':
          userForm.controls['nombre_beneficiario'].invalid &&
          userForm.controls['nombre_beneficiario'].touched &&
          userForm.controls['nombre_beneficiario'].errors}">
        </div>


        <div class="mb-2">
          <label [ngClass]="{ 'label-invalid':
          userForm.controls['cedula_beneficiario'].invalid &&
          userForm.controls['cedula_beneficiario'].touched &&
          userForm.controls['cedula_beneficiario'].errors}">Cedula del beneficiario</label>

          <input type="string" class="form-control" formControlName="cedula_beneficiario" [ngClass]="{ 'invalid':
          userForm.controls['cedula_beneficiario'].invalid &&
          userForm.controls['cedula_beneficiario'].touched &&
          userForm.controls['cedula_beneficiario'].errors}">

        </div>

        <div class="mb-2">
          <label [ngClass]="{ 'label-invalid':
          userForm.controls['promotor'].invalid &&
          userForm.controls['promotor'].touched &&
          userForm.controls['promotor'].errors}">Promotor</label>

          <input type="text" class="form-control"  formControlName="promotor" style="width: 60%;" [ngClass]="{ 'invalid':
          userForm.controls['promotor'].invalid &&
          userForm.controls['promotor'].touched &&
          userForm.controls['promotor'].errors}" [readonly]="true">
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center gap-5 mt-2">
      <button  type="button" class="btn btn-danger" (click)="back()"> Volver </button>
      <button  type="submit" class="btn btn-success" [disabled]="userForm.invalid" >Guardar</button>
    </div>

  </form>

</div>
