<div class="container d-flex flex-column justify-content-center align-items-center gap-2 animate__animated animate__fadeInLeft" style="height: 90vh;">
  <h1 class="title"> {{(isEdit ? 'Editar'  : 'Crear')}} usuario </h1>

  <form class="col-4 d-flex flex-column gap-2" [formGroup]="userForm" (ngSubmit)="save()">
    <input type="text" class="form-control" placeholder="Numero de control" formControlName="numero_control" [ngClass]="{ 'invalid':
    userForm.controls['numero_control'].invalid &&
    userForm.controls['numero_control'].touched &&
    userForm.controls['numero_control'].errors}">

    <input type="date" class="form-control" placeholder="Fecha de ingreso" formControlName="fecha_ingreso" [ngClass]="{ 'invalid':
    userForm.controls['fecha_ingreso'].invalid &&
    userForm.controls['fecha_ingreso'].touched &&
    userForm.controls['fecha_ingreso'].errors}">

    <input type="date" class="form-control" placeholder="Fecha de vencimiento" formControlName="fecha_vencimiento" [ngClass]="{ 'invalid':
    userForm.controls['fecha_vencimiento'].invalid &&
    userForm.controls['fecha_vencimiento'].touched &&
    userForm.controls['fecha_vencimiento'].errors}">

    <input type="text" class="form-control" placeholder="Nombre del contratante" formControlName="nombre_contratante" [ngClass]="{ 'invalid':
    userForm.controls['nombre_contratante'].invalid &&
    userForm.controls['nombre_contratante'].touched &&
    userForm.controls['nombre_contratante'].errors}">

    <input type="text" class="form-control" placeholder="Cedula del contratante" formControlName="cedula_contratante" [ngClass]="{ 'invalid':
    userForm.controls['cedula_contratante'].invalid &&
    userForm.controls['cedula_contratante'].touched &&
    userForm.controls['cedula_contratante'].errors}">


    <input type="text" class="form-control" placeholder="Telefono del contratante" formControlName="telefono_contratante" [ngClass]="{ 'invalid':
    userForm.controls['telefono_contratante'].invalid &&
    userForm.controls['telefono_contratante'].touched &&
    userForm.controls['telefono_contratante'].errors}">


    <input type="text" class="form-control" placeholder="Dirección del contratante" formControlName="direccion_contratante" [ngClass]="{ 'invalid':
    userForm.controls['direccion_contratante'].invalid &&
    userForm.controls['direccion_contratante'].touched &&
    userForm.controls['direccion_contratante'].errors}">


    <input type="text" class="form-control" placeholder="Nombre del beneficiario" formControlName="nombre_beneficiario" [ngClass]="{ 'invalid':
    userForm.controls['nombre_beneficiario'].invalid &&
    userForm.controls['nombre_beneficiario'].touched &&
    userForm.controls['nombre_beneficiario'].errors}">


    <input type="text" class="form-control" placeholder="Cedula del beneficiario" formControlName="cedula_beneficiario" [ngClass]="{ 'invalid':
    userForm.controls['cedula_beneficiario'].invalid &&
    userForm.controls['cedula_beneficiario'].touched &&
    userForm.controls['cedula_beneficiario'].errors}">

    <input type="text" class="form-control" placeholder="Promotor" formControlName="promotor" [ngClass]="{ 'invalid':
    userForm.controls['promotor'].invalid &&
    userForm.controls['promotor'].touched &&
    userForm.controls['promotor'].errors}">

    <input type="number" class="form-control" placeholder="Numero de factura" formControlName="numero_factura" [ngClass]="{ 'invalid':
    userForm.controls['numero_factura'].invalid &&
    userForm.controls['numero_factura'].touched &&
    userForm.controls['numero_factura'].errors}">

    <div class="d-flex justify-content-center gap-1">
      <button  type="button" class="btn btn-danger" (click)="back()"> Volver </button>
      <button  type="submit" class="btn btn-success" [disabled]="userForm.invalid" >Guardar</button>
    </div>

  </form>

</div>
