<div class="container d-flex flex-column justify-content-center align-items-center gap-2 animate__animated animate__fadeInLeft" style="height: 90vh;">
  <h1 class="title"> {{(isEdit ? 'Editar'  : 'Crear')}} vehiculos </h1>

  <form class="col-10 d-flex flex-column gap-2" [formGroup]="CarForm" (ngSubmit)="save()">
    <div class="d-flex gap-5">
      <div class="col-6">
        <div class="mb-2">
          <label [ngClass]="{ 'label-invalid':
          CarForm.controls['clase'].invalid &&
          CarForm.controls['clase'].touched &&
          CarForm.controls['clase'].errors}">Clase</label>

          <input type="text" class="form-control" formControlName="clase" [ngClass]="{ 'invalid':
          CarForm.controls['clase'].invalid &&
          CarForm.controls['clase'].touched &&
          CarForm.controls['clase'].errors}">
        </div>

        <div class="mb-2">
          <label [ngClass]="{ 'label-invalid':
          CarForm.controls['marca'].invalid &&
          CarForm.controls['marca'].touched &&
          CarForm.controls['marca'].errors}">Marca</label>

          <input type="text" class="form-control" formControlName="marca" [ngClass]="{ 'invalid':
          CarForm.controls['marca'].invalid &&
          CarForm.controls['marca'].touched &&
          CarForm.controls['marca'].errors}">
        </div>

        <div class="mb-2">
          <label [ngClass]="{ 'label-invalid':
          CarForm.controls['modelo'].invalid &&
          CarForm.controls['modelo'].touched &&
          CarForm.controls['modelo'].errors}">Modelo</label>

          <input type="text" class="form-control" formControlName="modelo" [ngClass]="{ 'invalid':
          CarForm.controls['modelo'].invalid &&
          CarForm.controls['modelo'].touched &&
          CarForm.controls['modelo'].errors}">
        </div>

        <div class="mb-2">
          <label [ngClass]="{ 'label-invalid':
          CarForm.controls['placa'].invalid &&
          CarForm.controls['placa'].touched &&
          CarForm.controls['placa'].errors}">Placa</label>

          <input type="text" class="form-control" formControlName="placa" [ngClass]="{ 'invalid':
          CarForm.controls['placa'].invalid &&
          CarForm.controls['placa'].touched &&
          CarForm.controls['placa'].errors}">
        </div>

        <div class="mb-2">
          <label [ngClass]="{ 'label-invalid':
          CarForm.controls['serialCarroceria'].invalid &&
          CarForm.controls['serialCarroceria'].touched &&
          CarForm.controls['serialCarroceria'].errors}">Serial Carroceria</label>

          <input type="text" class="form-control"  formControlName="serialCarroceria" [ngClass]="{ 'invalid':
          CarForm.controls['serialCarroceria'].invalid &&
          CarForm.controls['serialCarroceria'].touched &&
          CarForm.controls['serialCarroceria'].errors}">
        </div>

        <div class="mb-2">
          <label [ngClass]="{ 'label-invalid':
          CarForm.controls['serialMotor'].invalid &&
          CarForm.controls['serialMotor'].touched &&
          CarForm.controls['serialMotor'].errors}">Serial Motor</label>

          <input type="text" class="form-control" formControlName="serialMotor" [ngClass]="{ 'invalid':
          CarForm.controls['serialMotor'].invalid &&
          CarForm.controls['serialMotor'].touched &&
          CarForm.controls['serialMotor'].errors}">
        </div>

        <div class="mb-2">
          <label [ngClass]="{ 'label-invalid':
          CarForm.controls['precio_unitario'].invalid &&
          CarForm.controls['precio_unitario'].touched &&
          CarForm.controls['precio_unitario'].errors}">Precio Unitario</label>

          <input type="number" class="form-control" formControlName="precio_unitario" [ngClass]="{ 'invalid':
          CarForm.controls['precio_unitario'].invalid &&
          CarForm.controls['precio_unitario'].touched &&
          CarForm.controls['precio_unitario'].errors}">
        </div>

      </div>

      <div class="col-6">
        <div class="mb-2">
          <div class="mb-2">
            <label [ngClass]="{ 'label-invalid':
            CarForm.controls['uso'].invalid &&
            CarForm.controls['uso'].touched &&
            CarForm.controls['uso'].errors}">Uso</label>

            <input type="text" class="form-control"  formControlName="uso" [ngClass]="{ 'invalid':
            CarForm.controls['uso'].invalid &&
            CarForm.controls['uso'].touched &&
            CarForm.controls['uso'].errors}">
          </div>

          <div class="mb-2">
            <label [ngClass]="{ 'label-invalid':
            CarForm.controls['tipo'].invalid &&
            CarForm.controls['tipo'].touched &&
            CarForm.controls['tipo'].errors}">Tipo</label>

            <input type="text" class="form-control" formControlName="tipo" [ngClass]="{ 'invalid':
            CarForm.controls['tipo'].invalid &&
            CarForm.controls['tipo'].touched &&
            CarForm.controls['tipo'].errors}">
          </div>

          <div class="mb-2">
            <label [ngClass]="{ 'label-invalid':
            CarForm.controls['color'].invalid &&
            CarForm.controls['color'].touched &&
            CarForm.controls['color'].errors}">Color</label>

            <input type="text" class="form-control" formControlName="color" [ngClass]="{ 'invalid':
            CarForm.controls['color'].invalid &&
            CarForm.controls['color'].touched &&
            CarForm.controls['color'].errors}">
          </div>

          <div class="mb-2">
            <label [ngClass]="{ 'label-invalid':
            CarForm.controls['anualidad'].invalid &&
            CarForm.controls['anualidad'].touched &&
            CarForm.controls['anualidad'].errors}">Año</label>

            <input type="number" class="form-control" formControlName="anualidad" [ngClass]="{ 'invalid':
            CarForm.controls['anualidad'].invalid &&
            CarForm.controls['anualidad'].touched &&
            CarForm.controls['anualidad'].errors}">
          </div>

          <div class="mb-2">
            <label [ngClass]="{ 'label-invalid':
            CarForm.controls['puestos'].invalid &&
            CarForm.controls['puestos'].touched &&
            CarForm.controls['puestos'].errors}">Puestos</label>

            <input type="number" class="form-control" formControlName="puestos" [ngClass]="{ 'invalid':
            CarForm.controls['puestos'].invalid &&
            CarForm.controls['puestos'].touched &&
            CarForm.controls['puestos'].errors}">
          </div>


          <div class="mb-2">
            <label [ngClass]="{ 'label-invalid':
            CarForm.controls['contrato'].invalid &&
            CarForm.controls['contrato'].touched &&
            CarForm.controls['contrato'].errors}">Numero de Contrato</label>

            <input type="string" class="form-control" formControlName="contrato" [ngClass]="{ 'invalid':
            CarForm.controls['contrato'].invalid &&
            CarForm.controls['contrato'].touched &&
            CarForm.controls['contrato'].errors}">
          </div>


        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center gap-5">
      <button  type="button" class="btn btn-danger" (click)="back()"> Volver </button>
      <button  type="submit" class="btn btn-success" [disabled]="CarForm.invalid" >Guardar</button>
    </div>

  </form>

</div>
