  <div class="card">
    <div class="card-body">
      <h5 class="card-title">a</h5>
      <p class="card-text">a</p>
      <p class="card-text">a</p>
      <p class="card-text">a</p>
      <p class="card-text">a</p>
      <p class="card-text">a</p>
      <p class="card-text">a</p>
      <p class="card-text">a</p>
      <p class="card-text">a</p>
      <p class="card-text">a</p>
      <p class="card-text">a</p>
      <p class="card-text">a</p>
      <p class="card-text">a</p>
    </div>
      <div class="card-icons">
        <span class="car-icon:hover"><i class="fas fa-car" ></i></span>
        <span class="edit-icon"><i class="fas fa-pencil-alt" (click)="editUser(user.id)"></i></span>
        <span class="delete-icon"><i class="fas fa-trash-alt" (click)="deleteUser(user.id)"></i></span>
      </div>
  </div>
